/*.i??
/.checkstyle
/.classpath
/.pmd
/.project
/.settings
chapter2/*.i??
chapter2/.checkstyle
chapter2/.classpath
chapter2/.pmd
chapter2/.project
chapter2/.settings
chapter2/cbr/*.i??
chapter2/cbr/.checkstyle
chapter2/cbr/.classpath
chapter2/cbr/.pmd
chapter2/cbr/.project
chapter2/cbr/.settings
chapter2/cbr/classes
chapter2/cbr/eclipse-classes
chapter2/cbr/target
chapter2/classes
chapter2/eclipse-classes
chapter2/file-jms/*.i??
chapter2/file-jms/.checkstyle
chapter2/file-jms/.classpath
chapter2/file-jms/.pmd
chapter2/file-jms/.project
chapter2/file-jms/.settings
chapter2/file-jms/classes
chapter2/file-jms/eclipse-classes
chapter2/file-jms/target
chapter2/filter/*.i??
chapter2/filter/.checkstyle
chapter2/filter/.classpath
chapter2/filter/.pmd
chapter2/filter/.project
chapter2/filter/.settings
chapter2/filter/classes
chapter2/filter/eclipse-classes
chapter2/filter/target
chapter2/target
chapter2/wiretap/*.i??
chapter2/wiretap/.checkstyle
chapter2/wiretap/.classpath
chapter2/wiretap/.pmd
chapter2/wiretap/.project
chapter2/wiretap/.settings
chapter2/wiretap/classes
chapter2/wiretap/eclipse-classes
chapter2/wiretap/target
/classes
/eclipse-classes
/target
