* text=auto !eol
chapter1/file-copy/data/inbox/message1.xml -text
chapter1/file-copy/pom.xml -text
chapter1/file-copy/src/main/java/camelinaction/FileCopier.java -text
chapter1/file-copy/src/main/java/camelinaction/FileCopierWithCamel.java -text
chapter1/file-copy/src/main/resources/log4j.properties -text
chapter1/pom.xml -text
chapter2/cbr/pom.xml -text
chapter2/cbr/readme.txt -text
chapter2/cbr/src/data/message1.xml -text
chapter2/cbr/src/data/message2.csv -text
chapter2/cbr/src/data/message3.csl -text
chapter2/cbr/src/data/message4.bad -text
chapter2/cbr/src/main/java/camelinaction/Order.java -text
chapter2/cbr/src/main/java/camelinaction/OrderRouter.java -text
chapter2/cbr/src/main/java/camelinaction/OrderRouterOtherwise.java -text
chapter2/cbr/src/main/java/camelinaction/OrderRouterWithStop.java -text
chapter2/cbr/src/main/resources/log4j.properties -text
chapter2/file-jms/pom.xml -text
chapter2/file-jms/readme.txt -text
chapter2/file-jms/src/main/java/camelinaction/FileToJMSExample.java -text
chapter2/file-jms/src/main/java/camelinaction/FileToJMSWithProcessorExample.java -text
chapter2/file-jms/src/main/java/camelinaction/RouteBuilderExample.java -text
chapter2/file-jms/src/main/resources/log4j.properties -text
chapter2/filter/pom.xml -text
chapter2/filter/readme.txt -text
chapter2/filter/src/data/message1.xml -text
chapter2/filter/src/data/testmessage.xml -text
chapter2/filter/src/main/java/camelinaction/OrderRouterWithFilter.java -text
chapter2/filter/src/main/resources/log4j.properties -text
chapter2/multicast/pom.xml -text
chapter2/multicast/readme.txt -text
chapter2/multicast/src/data/message1.xml -text
chapter2/multicast/src/main/java/camelinaction/OrderRouterWithMulticast.java -text
chapter2/multicast/src/main/java/camelinaction/OrderRouterWithParallelMulticast.java -text
chapter2/multicast/src/main/resources/log4j.properties -text
chapter2/pom.xml -text
chapter2/recipientlist/pom.xml -text
chapter2/recipientlist/readme.txt -text
chapter2/recipientlist/src/data/message1.xml -text
chapter2/recipientlist/src/data/message2.xml -text
chapter2/recipientlist/src/main/java/camelinaction/OrderRouterWithRecipientList.java -text
chapter2/recipientlist/src/main/java/camelinaction/OrderRouterWithRecipientListBean.java -text
chapter2/recipientlist/src/main/java/camelinaction/RecipientListBean.java -text
chapter2/recipientlist/src/main/resources/log4j.properties -text
chapter2/spring/pom.xml -text
chapter2/spring/readme.txt -text
chapter2/spring/src/data/message1.xml -text
chapter2/spring/src/main/java/camelinaction/DanishGreeter.java -text
chapter2/spring/src/main/java/camelinaction/DownloadLogger.java -text
chapter2/spring/src/main/java/camelinaction/EnglishGreeter.java -text
chapter2/spring/src/main/java/camelinaction/FileToJMSRoute.java -text
chapter2/spring/src/main/java/camelinaction/GreetMeBean.java -text
chapter2/spring/src/main/java/camelinaction/Greeter.java -text
chapter2/spring/src/main/resources/META-INF/spring/camel-context.xml -text
chapter2/spring/src/main/resources/beans.xml -text
chapter2/spring/src/main/resources/log4j.properties -text
chapter2/wiretap/pom.xml -text
chapter2/wiretap/readme.txt -text
chapter2/wiretap/src/data/message1.xml -text
chapter2/wiretap/src/main/java/camelinaction/OrderRouterWithOutputProcessor.java -text
chapter2/wiretap/src/main/java/camelinaction/OrderRouterWithWireTap.java -text
chapter2/wiretap/src/main/resources/log4j.properties -text
chapter3/order/pom.xml svneol=native#text/xml
chapter3/order/src/test/resources/camelinaction/jaxb.index -text
chapter3/order/src/test/resources/camelinaction/order-jaxb.xml svneol=native#text/xml
chapter3/order/src/test/resources/camelinaction/reverse.xml svneol=native#text/xml
chapter3/order/src/test/resources/log4j.properties svneol=native#text/plain
chapter3/order/src/test/resources/order.csv -text
chapter3/pom.xml svneol=native#text/xml
chapter3/transform/pom.xml svneol=native#text/xml
chapter3/transform/src/test/resources/camelinaction/SpringTransformMethodTest.xml svneol=native#text/xml
chapter3/transform/src/test/resources/camelinaction/SpringTransformScriptTest.xml svneol=native#text/xml
chapter3/transform/src/test/resources/log4j.properties svneol=native#text/plain
chapter9/multiple-routes/pom.xml svneol=native#text/xml
chapter9/multiple-routes/src/test/resources/log4j.properties svneol=native#text/plain
chapter9/multiple-routes/src/test/resources/spring-context.xml svneol=native#text/xml
chapter9/oncompletion/pom.xml svneol=native#text/xml
chapter9/oncompletion/src/test/resources/META-INF/spring/oncompletion.xml svneol=native#text/xml
chapter9/oncompletion/src/test/resources/log4j.properties svneol=native#text/plain
chapter9/pom.xml svneol=native#text/xml
chapter9/riderautoparts-order/pom.xml svneol=native#text/xml
chapter9/riderautoparts-order/src/test/resources/META-INF/spring/camel-cxf.xml svneol=native#text/xml
chapter9/riderautoparts-order/src/test/resources/META-INF/spring/camel-ftp.xml svneol=native#text/xml
chapter9/riderautoparts-order/src/test/resources/META-INF/spring/camel-route.xml svneol=native#text/xml
chapter9/riderautoparts-order/src/test/resources/META-INF/spring/camel-tx.xml svneol=native#text/xml
chapter9/riderautoparts-order/src/test/resources/log4j.properties svneol=native#text/plain
chapter9/riderautoparts-order/src/test/resources/users.properties svneol=native#text/plain
chapter9/riderautoparts-order/src/test/resources/wsdl/acme_order.wsdl svneol=native#text/xml
chapter9/riderautoparts-partner/pom.xml svneol=native#text/xml
chapter9/riderautoparts-partner/src/test/resources/camelinaction/RiderAutoPartsPartnerTXTest.xml svneol=native#text/xml
chapter9/riderautoparts-partner/src/test/resources/camelinaction/RiderAutoPartsPartnerTest.xml svneol=native#text/xml
chapter9/riderautoparts-partner/src/test/resources/log4j.properties svneol=native#text/plain
/pom.xml -text
