* text=auto !eol
appendixE/project/build/Project.scala -text
appendixE/src/main/scala/SampleActors.scala -text
appendixE/src/main/scala/SectionE1.scala -text
appendixE/src/main/scala/SectionE21.scala -text
appendixE/src/main/scala/SectionE22.scala -text
appendixE/src/main/scala/SectionE3.scala -text
appendixE/src/main/scala/SectionE42.scala -text
appendixE/src/main/scala/SectionE5.scala -text
appendixE/src/main/scala/SectionE6.scala -text
chapter1/file-copy/data/inbox/message1.xml -text
chapter1/file-copy/pom.xml -text
chapter1/file-copy/src/main/java/camelinaction/FileCopier.java -text
chapter1/file-copy/src/main/java/camelinaction/FileCopierWithCamel.java -text
chapter1/file-copy/src/main/resources/log4j.properties -text
chapter1/pom.xml -text
chapter10/bigfile/pom.xml svneol=native#text/xml
chapter10/bigfile/src/test/resources/META-INF/spring/BigFileCachedThreadPoolTest.xml svneol=native#text/xml
chapter10/bigfile/src/test/resources/META-INF/spring/BigFileFixedThreadPoolTest.xml svneol=native#text/xml
chapter10/bigfile/src/test/resources/META-INF/spring/BigFileParallelTest.xml svneol=native#text/xml
chapter10/bigfile/src/test/resources/META-INF/spring/BigFileSedaTest.xml svneol=native#text/xml
chapter10/bigfile/src/test/resources/log4j.properties svneol=native#text/plain
chapter10/client/pom.xml svneol=native#text/xml
chapter10/client/src/test/resources/log4j.properties svneol=native#text/plain
chapter10/eip/pom.xml svneol=native#text/xml
chapter10/eip/src/main/resources/META-INF/spring/route-parallel.xml svneol=native#text/xml
chapter10/eip/src/main/resources/META-INF/spring/route.xml svneol=native#text/xml
chapter10/eip/src/main/resources/META-INF/spring/wiretap.xml svneol=native#text/xml
chapter10/eip/src/test/resources/log4j.properties svneol=native#text/plain
chapter10/pom.xml svneol=native#text/xml
chapter10/pools/pom.xml svneol=native#text/xml
chapter10/pools/src/test/resources/META-INF/spring/CustomThreadPoolProfileTest.xml svneol=native#text/xml
chapter10/pools/src/test/resources/META-INF/spring/InlinedThreadPoolTest.xml svneol=native#text/xml
chapter10/pools/src/test/resources/META-INF/spring/ThreadPoolTest.xml svneol=native#text/xml
chapter10/pools/src/test/resources/log4j.properties svneol=native#text/plain
chapter10/scalability/pom.xml svneol=native#text/xml
chapter10/scalability/src/test/resources/log4j.properties svneol=native#text/plain
chapter10/synchronicity/pom.xml svneol=native#text/xml
chapter10/synchronicity/src/test/resources/META-INF/spring/earlyreply-context.xml svneol=native#text/xml
chapter10/synchronicity/src/test/resources/log4j.properties svneol=native#text/plain
chapter11/custom/src/main/resources/META-INF/services/org/apache/camel/component/mycomponent -text
chapter11/scala-router-javacontext/src/main/scala/camelinaction/MyRouteBuilder.scala -text
chapter11/scala-router/src/main/scala/camelinaction/MyRouteBuilder.scala -text
chapter12/custom/pom.xml svneol=native#text/xml
chapter12/custom/src/main/resources/log4j.properties svneol=native#text/plain
chapter12/health/pom.xml svneol=native#text/xml
chapter12/health/src/main/resources/log4j.properties svneol=native#text/plain
chapter12/health/src/test/resources/log4j.properties svneol=native#text/plain
chapter12/logging/pom.xml svneol=native#text/xml
chapter12/logging/src/test/resources/camelinaction/LogEIPSpringTest.xml svneol=native#text/xml
chapter12/logging/src/test/resources/log4j.properties svneol=native#text/plain
chapter12/notifier/pom.xml svneol=native#text/xml
chapter12/notifier/src/test/resources/log4j.properties svneol=native#text/plain
chapter12/pom.xml svneol=native#text/xml
chapter12/tracer/pom.xml svneol=native#text/xml
chapter12/tracer/src/main/resources/log4j.properties svneol=native#text/plain
chapter12/tracer/src/test/resources/camelinaction/TracerSpringTest.xml svneol=native#text/xml
chapter12/tracer/src/test/resources/log4j.properties svneol=native#text/plain
chapter13/osgi/pom.xml svneol=native#text/xml
chapter13/osgi/src/main/resources/META-INF/spring/applicationContext.xml svneol=native#text/xml
chapter13/osgi/src/main/resources/log4j.properties svneol=native#text/plain
chapter13/osgi/src/main/resources/wsdl/inventory.wsdl svneol=native#text/xml
chapter13/pom.xml svneol=native#text/xml
chapter13/routepolicy/pom.xml svneol=native#text/xml
chapter13/routepolicy/src/test/resources/camel-fliproute.xml svneol=native#text/xml
chapter13/routepolicy/src/test/resources/log4j.properties svneol=native#text/plain
chapter13/shutdown/pom.xml svneol=native#text/xml
chapter13/shutdown/src/main/resources/META-INF/services/org/apache/camel/TypeConverter -text
chapter13/shutdown/src/main/resources/wsdl/inventory.wsdl svneol=native#text/xml
chapter13/shutdown/src/test/resources/META-INF/spring/camel-cxf.xml svneol=native#text/xml
chapter13/shutdown/src/test/resources/META-INF/spring/camel-route-defer-java.xml svneol=native#text/xml
chapter13/shutdown/src/test/resources/META-INF/spring/camel-route-java.xml svneol=native#text/xml
chapter13/shutdown/src/test/resources/META-INF/spring/camel-route-xml.xml svneol=native#text/xml
chapter13/shutdown/src/test/resources/log4j.properties svneol=native#text/plain
chapter13/standalone/pom.xml svneol=native#text/xml
chapter13/standalone/src/main/resources/META-INF/services/org/apache/camel/TypeConverter -text
chapter13/standalone/src/main/resources/META-INF/spring/camel-context.xml svneol=native#text/xml
chapter13/standalone/src/main/resources/META-INF/spring/camel-cxf.xml svneol=native#text/xml
chapter13/standalone/src/main/resources/log4j.properties svneol=native#text/plain
chapter13/standalone/src/main/resources/wsdl/inventory.wsdl svneol=native#text/xml
chapter13/startup/pom.xml svneol=native#text/xml
chapter13/startup/src/main/resources/META-INF/services/org/apache/camel/TypeConverter -text
chapter13/startup/src/main/resources/wsdl/inventory.wsdl svneol=native#text/xml
chapter13/startup/src/test/resources/META-INF/spring/camel-cxf.xml svneol=native#text/xml
chapter13/startup/src/test/resources/META-INF/spring/camel-route-java.xml svneol=native#text/xml
chapter13/startup/src/test/resources/META-INF/spring/camel-route-xml.xml svneol=native#text/xml
chapter13/startup/src/test/resources/log4j.properties svneol=native#text/plain
chapter13/war-jboss/pom.xml svneol=native#text/xml
chapter13/war-jboss/src/main/resources/META-INF/services/org/apache/camel/TypeConverter -text
chapter13/war-jboss/src/main/resources/log4j.properties svneol=native#text/plain
chapter13/war-jboss/src/main/resources/wsdl/inventory.wsdl svneol=native#text/xml
chapter13/war-jboss/src/main/webapp/WEB-INF/applicationContext.xml svneol=native#text/xml
chapter13/war-jboss/src/main/webapp/WEB-INF/camel-cxf.xml svneol=native#text/xml
chapter13/war-jboss/src/main/webapp/WEB-INF/lib/camel-jboss-2.3.0.jar -text
chapter13/war-jboss/src/main/webapp/WEB-INF/web.xml svneol=native#text/xml
chapter13/war-servlet/pom.xml svneol=native#text/xml
chapter13/war-servlet/src/main/resources/META-INF/services/org/apache/camel/TypeConverter -text
chapter13/war-servlet/src/main/resources/log4j.properties svneol=native#text/plain
chapter13/war-servlet/src/main/resources/wsdl/inventory.wsdl svneol=native#text/xml
chapter13/war-servlet/src/main/webapp/WEB-INF/applicationContext.xml svneol=native#text/xml
chapter13/war-servlet/src/main/webapp/WEB-INF/camel-cxf.xml svneol=native#text/xml
chapter13/war-servlet/src/main/webapp/WEB-INF/web.xml svneol=native#text/xml
chapter13/war/pom.xml svneol=native#text/xml
chapter13/war/src/main/resources/META-INF/services/org/apache/camel/TypeConverter -text
chapter13/war/src/main/resources/log4j.properties svneol=native#text/plain
chapter13/war/src/main/resources/wsdl/inventory.wsdl svneol=native#text/xml
chapter13/war/src/main/webapp/WEB-INF/applicationContext.xml svneol=native#text/xml
chapter13/war/src/main/webapp/WEB-INF/camel-cxf.xml svneol=native#text/xml
chapter13/war/src/main/webapp/WEB-INF/web.xml svneol=native#text/xml
chapter14/pom.xml svneol=native#text/xml
chapter14/starterkit/pom.xml svneol=native#text/xml
chapter14/starterkit/src/main/resources/META-INF/spring/activemq-broker.xml svneol=native#text/xml
chapter14/starterkit/src/main/resources/META-INF/spring/camel-client.xml svneol=native#text/xml
chapter14/starterkit/src/main/resources/META-INF/spring/camel-server.xml svneol=native#text/xml
chapter14/starterkit/src/main/resources/log4j.properties svneol=native#text/plain
chapter14/starterkit/src/test/resources/META-INF/spring/camel-mocked-seda.xml svneol=native#text/xml
chapter14/starterkit/src/test/resources/META-INF/spring/camel-mocked.xml svneol=native#text/xml
chapter14/starterkit/src/test/resources/log4j.properties svneol=native#text/plain
chapter2/cbr/pom.xml -text
chapter2/cbr/readme.txt -text
chapter2/cbr/src/data/message1.xml -text
chapter2/cbr/src/data/message2.csv -text
chapter2/cbr/src/data/message3.csl -text
chapter2/cbr/src/data/message4.bad -text
chapter2/cbr/src/main/java/camelinaction/Order.java -text
chapter2/cbr/src/main/java/camelinaction/OrderRouter.java -text
chapter2/cbr/src/main/java/camelinaction/OrderRouterOtherwise.java -text
chapter2/cbr/src/main/java/camelinaction/OrderRouterWithStop.java -text
chapter2/cbr/src/main/resources/log4j.properties -text
chapter2/filter/pom.xml -text
chapter2/filter/readme.txt -text
chapter2/filter/src/data/message1.xml -text
chapter2/filter/src/data/testmessage.xml -text
chapter2/filter/src/main/java/camelinaction/OrderRouterWithFilter.java -text
chapter2/filter/src/main/resources/log4j.properties -text
chapter2/ftp-jms/pom.xml -text
chapter2/ftp-jms/readme.txt -text
chapter2/ftp-jms/src/main/java/camelinaction/RouteBuilderExample.java -text
chapter2/ftp-jms/src/main/resources/log4j.properties -text
chapter2/multicast/pom.xml -text
chapter2/multicast/readme.txt -text
chapter2/multicast/src/data/message1.xml -text
chapter2/multicast/src/main/java/camelinaction/OrderRouterWithMulticast.java -text
chapter2/multicast/src/main/java/camelinaction/OrderRouterWithParallelMulticast.java -text
chapter2/multicast/src/main/resources/log4j.properties -text
chapter2/pom.xml -text
chapter2/recipientlist/pom.xml -text
chapter2/recipientlist/readme.txt -text
chapter2/recipientlist/src/data/message1.xml -text
chapter2/recipientlist/src/data/message2.xml -text
chapter2/recipientlist/src/main/java/camelinaction/OrderRouterWithRecipientList.java -text
chapter2/recipientlist/src/main/java/camelinaction/OrderRouterWithRecipientListBean.java -text
chapter2/recipientlist/src/main/java/camelinaction/RecipientListBean.java -text
chapter2/recipientlist/src/main/resources/log4j.properties -text
chapter2/spring/pom.xml -text
chapter2/spring/readme.txt -text
chapter2/spring/src/data/message1.xml -text
chapter2/spring/src/main/java/camelinaction/DanishGreeter.java -text
chapter2/spring/src/main/java/camelinaction/DownloadLogger.java -text
chapter2/spring/src/main/java/camelinaction/EnglishGreeter.java -text
chapter2/spring/src/main/java/camelinaction/FileToJMSRoute.java -text
chapter2/spring/src/main/java/camelinaction/GreetMeBean.java -text
chapter2/spring/src/main/java/camelinaction/Greeter.java -text
chapter2/spring/src/main/resources/META-INF/spring/camel-context.xml -text
chapter2/spring/src/main/resources/beans.xml -text
chapter2/spring/src/main/resources/log4j.properties -text
chapter2/wiretap/pom.xml -text
chapter2/wiretap/readme.txt -text
chapter2/wiretap/src/data/message1.xml -text
chapter2/wiretap/src/main/java/camelinaction/OrderRouterWithOutputProcessor.java -text
chapter2/wiretap/src/main/java/camelinaction/OrderRouterWithWireTap.java -text
chapter2/wiretap/src/main/resources/log4j.properties -text
chapter3/converter/pom.xml svneol=native#text/xml
chapter3/converter/src/main/resources/META-INF/services/org/apache/camel/TypeConverter -text
chapter3/converter/src/test/resources/log4j.properties svneol=native#text/plain
chapter3/order/pom.xml svneol=native#text/xml
chapter3/order/src/test/resources/camelinaction/jaxb.index -text
chapter3/order/src/test/resources/camelinaction/mail.vm -text
chapter3/order/src/test/resources/camelinaction/order-csv.xml svneol=native#text/xml
chapter3/order/src/test/resources/camelinaction/order-jaxb.xml svneol=native#text/xml
chapter3/order/src/test/resources/camelinaction/reverse.xml svneol=native#text/xml
chapter3/order/src/test/resources/log4j.properties svneol=native#text/plain
chapter3/order/src/test/resources/order.csv -text
chapter3/pom.xml svneol=native#text/xml
chapter3/transform/pom.xml svneol=native#text/xml
chapter3/transform/src/test/resources/camelinaction/SpringTransformMethodTest.xml svneol=native#text/xml
chapter3/transform/src/test/resources/camelinaction/SpringTransformScriptTest.xml svneol=native#text/xml
chapter3/transform/src/test/resources/log4j.properties svneol=native#text/plain
chapter4/bean/pom.xml svneol=native#text/xml
chapter4/bean/src/test/resources/camelinaction/InvokeWithProcessor.xml svneol=native#text/xml
chapter4/bean/src/test/resources/camelinaction/xmlOrder.xml svneol=native#text/xml
chapter4/bean/src/test/resources/log4j.properties svneol=native#text/plain
chapter4/pom.xml svneol=native#text/xml
chapter5/errorhandler/src/test/resources/camelinaction/HandleFaultTest.xml svneol=native#text/xml
chapter5/onexception/pom.xml svneol=native#text/xml
chapter5/onexception/src/test/resources/log4j.properties svneol=native#text/plain
chapter5/pom.xml svneol=native#text/xml
chapter5/usecase/README.txt svneol=native#text/plain
chapter5/usecase/pom.xml svneol=native#text/xml
chapter5/usecase/src/main/resources/bad.txt svneol=native#text/plain
chapter5/usecase/src/main/resources/good.txt svneol=native#text/plain
chapter5/usecase/src/main/resources/log4j.properties svneol=native#text/plain
chapter6/error/pom.xml svneol=native#text/xml
chapter6/error/src/main/resources/camelinaction/usecase.xml svneol=native#text/xml
chapter6/error/src/main/resources/usecase.properties svneol=native#text/plain
chapter6/error/src/test/resources/log4j.properties svneol=native#text/plain
chapter6/firsttest/pom.xml svneol=native#text/xml
chapter6/firsttest/src/main/resources/rider-prod.properties svneol=native#text/plain
chapter6/firsttest/src/test/resources/camelinaction/firststep.xml svneol=native#text/xml
chapter6/firsttest/src/test/resources/camelinaction/rider-camel-prod.xml svneol=native#text/xml
chapter6/firsttest/src/test/resources/camelinaction/rider-camel-test.xml svneol=native#text/xml
chapter6/firsttest/src/test/resources/camelinaction/rider-spring-prod.xml svneol=native#text/xml
chapter6/firsttest/src/test/resources/camelinaction/rider-spring-test.xml svneol=native#text/xml
chapter6/firsttest/src/test/resources/log4j.properties svneol=native#text/plain
chapter6/firsttest/src/test/resources/rider-test.properties svneol=native#text/plain
chapter6/miranda/pom.xml svneol=native#text/xml
chapter6/miranda/src/test/resources/log4j.properties svneol=native#text/plain
chapter6/notify/pom.xml svneol=native#text/xml
chapter6/notify/src/test/resources/META-INF/spring/camel-context.xml svneol=native#text/xml
chapter6/notify/src/test/resources/log4j.properties svneol=native#text/plain
chapter6/pom.xml svneol=native#text/xml
chapter7/file/data/inbox/message1.xml -text
chapter7/file/pom.xml -text
chapter7/file/readme.txt -text
chapter7/file/src/main/java/camelinaction/FilePrinter.java -text
chapter7/file/src/main/java/camelinaction/FileSaver.java -text
chapter7/file/src/main/java/camelinaction/FileSaverWithFileName.java -text
chapter7/file/src/main/resources/log4j.properties -text
chapter7/ftp/pom.xml -text
chapter7/ftp/readme.txt -text
chapter7/ftp/src/main/java/camelinaction/FtpServerBean.java -text
chapter7/ftp/src/main/resources/META-INF/spring/camelContext.xml -text
chapter7/ftp/src/main/resources/log4j.properties -text
chapter7/ftp/src/main/resources/users.properties -text
chapter7/pom.xml -text
chapter8/aggregator/pom.xml svneol=native#text/xml
chapter8/aggregator/src/test/resources/META-INF/spring/aggregate-abc-close.xml svneol=native#text/xml
chapter8/aggregator/src/test/resources/META-INF/spring/aggregate-abc-eager.xml svneol=native#text/xml
chapter8/aggregator/src/test/resources/META-INF/spring/aggregate-abc-group.xml svneol=native#text/xml
chapter8/aggregator/src/test/resources/META-INF/spring/aggregate-abc-hawtdb.xml svneol=native#text/xml
chapter8/aggregator/src/test/resources/META-INF/spring/aggregate-abc-invalid.xml svneol=native#text/xml
chapter8/aggregator/src/test/resources/META-INF/spring/aggregate-abc-recover.xml svneol=native#text/xml
chapter8/aggregator/src/test/resources/META-INF/spring/aggregate-abc.xml svneol=native#text/xml
chapter8/aggregator/src/test/resources/META-INF/spring/aggregate-xml.xml svneol=native#text/xml
chapter8/aggregator/src/test/resources/a.txt svneol=native#text/plain
chapter8/aggregator/src/test/resources/b.txt svneol=native#text/plain
chapter8/aggregator/src/test/resources/c.txt svneol=native#text/plain
chapter8/aggregator/src/test/resources/log4j.properties svneol=native#text/plain
chapter8/dynamicrouter/pom.xml svneol=native#text/xml
chapter8/dynamicrouter/src/test/java/camelinaction/DynamicRouterAnnotationBean.java -text
chapter8/dynamicrouter/src/test/java/camelinaction/DynamicRouterAnnotationTest.java -text
chapter8/dynamicrouter/src/test/java/camelinaction/SpringDynamicRouterAnnotationTest.java -text
chapter8/dynamicrouter/src/test/resources/META-INF/spring/dynamicrouter-annotation.xml svneol=native#text/xml
chapter8/dynamicrouter/src/test/resources/META-INF/spring/dynamicrouter.xml svneol=native#text/xml
chapter8/dynamicrouter/src/test/resources/log4j.properties svneol=native#text/plain
chapter8/loadbalancer/pom.xml svneol=native#text/xml
chapter8/loadbalancer/src/test/resources/META-INF/spring/custom-loadbalancer.xml svneol=native#text/xml
chapter8/loadbalancer/src/test/resources/META-INF/spring/failover-inheriterrorhandler-loadbalancer.xml svneol=native#text/xml
chapter8/loadbalancer/src/test/resources/META-INF/spring/failover-loadbalancer.xml svneol=native#text/xml
chapter8/loadbalancer/src/test/resources/META-INF/spring/failover-roundrobin-loadbalancer.xml svneol=native#text/xml
chapter8/loadbalancer/src/test/resources/META-INF/spring/loadbalancer.xml svneol=native#text/xml
chapter8/loadbalancer/src/test/resources/META-INF/spring/random-loadbalancer.xml svneol=native#text/xml
chapter8/loadbalancer/src/test/resources/META-INF/spring/sticky-loadbalancer.xml svneol=native#text/xml
chapter8/loadbalancer/src/test/resources/META-INF/spring/topic-loadbalancer.xml svneol=native#text/xml
chapter8/loadbalancer/src/test/resources/log4j.properties svneol=native#text/plain
chapter8/pom.xml svneol=native#text/xml
chapter8/routingslip/pom.xml svneol=native#text/xml
chapter8/routingslip/src/test/resources/META-INF/spring/routingslip-bean.xml svneol=native#text/xml
chapter8/routingslip/src/test/resources/META-INF/spring/routingslip-header.xml svneol=native#text/xml
chapter8/routingslip/src/test/resources/META-INF/spring/routingslip-simple.xml svneol=native#text/xml
chapter8/routingslip/src/test/resources/META-INF/spring/routingslip.xml svneol=native#text/xml
chapter8/routingslip/src/test/resources/log4j.properties svneol=native#text/plain
chapter8/splitter/pom.xml svneol=native#text/xml
chapter8/splitter/src/test/resources/META-INF/spring/splitter-abc.xml svneol=native#text/xml
chapter8/splitter/src/test/resources/META-INF/spring/splitter-aggregate-exception.xml svneol=native#text/xml
chapter8/splitter/src/test/resources/META-INF/spring/splitter-aggregate.xml svneol=native#text/xml
chapter8/splitter/src/test/resources/META-INF/spring/splitter-bean.xml svneol=native#text/xml
chapter8/splitter/src/test/resources/META-INF/spring/splitter-stop.xml svneol=native#text/xml
chapter8/splitter/src/test/resources/log4j.properties svneol=native#text/plain
chapter9/multiple-routes/pom.xml svneol=native#text/xml
chapter9/multiple-routes/src/test/resources/log4j.properties svneol=native#text/plain
chapter9/multiple-routes/src/test/resources/spring-context.xml svneol=native#text/xml
chapter9/pom.xml svneol=native#text/xml
chapter9/riderautoparts-order/pom.xml svneol=native#text/xml
chapter9/riderautoparts-order/src/main/resources/META-INF/spring/camel-cxf.xml svneol=native#text/xml
chapter9/riderautoparts-order/src/main/resources/META-INF/spring/camel-route.xml svneol=native#text/xml
chapter9/riderautoparts-order/src/main/resources/META-INF/spring/camel-tx.xml svneol=native#text/xml
chapter9/riderautoparts-order/src/main/resources/log4j.properties svneol=native#text/plain
chapter9/riderautoparts-order/src/main/resources/wsdl/order.wsdl svneol=native#text/xml
chapter9/riderautoparts-order/src/test/resources/META-INF/spring/camel-cxf.xml svneol=native#text/xml
chapter9/riderautoparts-partner/pom.xml svneol=native#text/xml
chapter9/riderautoparts-partner/src/test/resources/camelinaction/RiderAutoPartsPartnerTXTest.xml svneol=native#text/xml
chapter9/riderautoparts-partner/src/test/resources/camelinaction/RiderAutoPartsPartnerTest.xml svneol=native#text/xml
chapter9/riderautoparts-partner/src/test/resources/log4j.properties svneol=native#text/plain
chapter9/uow/pom.xml svneol=native#text/xml
chapter9/uow/src/test/resources/META-INF/spring/filerollback.xml svneol=native#text/xml
chapter9/uow/src/test/resources/log4j.properties svneol=native#text/plain
chapter9/xa/pom.xml svneol=native#text/xml
chapter9/xa/src/test/resources/log4j.properties svneol=native#text/plain
chapter9/xa/src/test/resources/spring-context.xml svneol=native#text/xml
/pom.xml -text
